@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap";

body {
  background-color: white !important;
  font-family: "Inter", sans-serif !important;
  overflow-y: scroll !important;
}

.App-main-1 {
  padding: 8px !important;
  background: white;
}