@import "~bootstrap/scss/bootstrap";

.swal2-container {
  z-index: 40005000000 !important;
}

.modal-backdrop {
  z-index: 105000000;
}

.modal {
  z-index: 10550000000;
}

.mr-2 {
  margin-right: 2px;
}

.modal-lg, .modal-xl {
  min-width: 960px !important;
}

.modal-dialog-centered {
  min-height: calc(100% - 0.5rem);
}

.modal-dialog {
  .btn-primary {
    background-color: rgba(44, 64, 90, 0.8) !important;
    border-color: rgba(44,64,90,0.8) !important;
  }

  .btn-outline-primary {
    border-color: rgba(44,64,90,0.8) !important;
    color: rgba(44,64,90,0.8) !important;

    &:hover, &:active, &:focus {
      color: white !important;
      background-color: rgba(44,64,90,0.8) !important;
    }
  }
}

#editor-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: default;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  backface-visibility: hidden;
  box-sizing: border-box;
  contain: strict;
  overflow: hidden;
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
  visibility: inherit;
  width: auto;
  height: auto;
  background-color: rgb(236, 245, 253);
  z-index: 10000000;

  .editor-menu {
    position: absolute;
    inset: 32px 32px auto auto;
    width: auto;
    height: 56px;
    z-index: 29999999;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    pointer-events: auto;
    visibility: inherit;
    overflow: visible;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    cursor: default;
    text-rendering: optimizeLegibility;
    touch-action: none;
    user-select: none;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgba(44,64,90,0.8);
    border-radius: 8px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 25%);
    transition: background-color .2s ease-out;

    button {
      border: 0px solid rgba(255, 255, 255, 0.7);
      border-right: 1px;
      -webkit-box-shadow: -5px 0px 0px -4px rgba(255, 255, 255, 0.7);
      -moz-box-shadow: -5px 0px 0px -4px rgba(255, 255, 255, 0.7);
      box-shadow: -5px 0px 0px -4px rgba(255, 255, 255, 0.7);
      pointer-events: auto;
      visibility: inherit;
      background: none no-repeat 17px 17px;
      background-size: 24px 24px;
      color: rgba(255,255,255,0.7);
      flex-grow: 0;
      height: 56px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      transition: color .1s ease-in-out;
      vertical-align: top;
      white-space: nowrap;
      width: 56px;
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
      text-rendering: optimizeLegibility;
      touch-action: none;
      user-select: none;
      flex-shrink: 0;
      cursor: pointer;

      &:last-child {
        border-right: 0px;
      }

      img {
        max-height: 60%;
        cursor: pointer;
      }

      svg {
        font-size: 20px;
        margin: 0 auto;
        pointer-events: auto;
        visibility: inherit;
        color: rgba(255,255,255,0.7);
        text-align: center;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        text-transform: none;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        cursor: pointer;
        text-rendering: optimizeLegibility;
        touch-action: none;
        user-select: none;
      }
    }
  }
}