.header {
  cursor: default;
  text-rendering: optimizeLegibility;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  background-color: rgb(255,255,255);
  border-bottom: 1px solid rgb(197,217,232);
  backface-visibility: hidden;
  box-sizing: border-box;
  contain: strict;
  overflow: hidden;
  pointer-events: auto;
  position: absolute;
  transform: translate3d(0, 0, 0);
  visibility: inherit;
  inset: 0px 0px auto;
  width: auto;
  height: 56px;
  z-index: 10000000;

  &-actions {
    .header-action-button {
      pointer-events: auto;
      visibility: inherit;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      touch-action: none;
      box-sizing: border-box;
      cursor: pointer;
      flex-grow: 0;
      font-family: Roboto Medium;
      font-size: 16px;
      height: 100%;
      overflow: hidden;
      padding: 18px 22px;
      text-align: left;
      text-overflow: ellipsis;
      transition: color .1s ease-in-out;
      vertical-align: top;
      white-space: nowrap;
      width: auto;
      flex-shrink: 0;
      background-color: white;
      color: rgb(44,64,90);
      border: 1px solid rgb(216,229,238);
      border-top: unset;
      border-bottom: unset;
      border-right: unset;

      svg {
        pointer-events: auto;
        visibility: inherit;
        text-align: left;
        white-space: nowrap;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        cursor: default;
        text-rendering: optimizeLegibility;
        touch-action: none;
        user-select: none;
        -webkit-font-smoothing: antialiased;
        font-family: linearicons;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        text-transform: none;
        float: left;
        font-size: 20px;
        margin-right: 16px;
        color: inherit;
      }
    }
  }
}